body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url('IMG/img/background.png')
}
* {
    margin: 0;
    padding: 0;
}

#f1, #f3 {
    width: 800px;
    height: 300px;
    float: left;
    margin: 20px;
    margin-left: 50px;
    transition: 1s;
    box-shadow: 3px 3px 3px 0.5px #000;
    border-radius: 5px;
}

#f2, #f4 {
    width: 800px;
    height: 300px;
    float: right;
    margin: 20px;
    margin-right: 50px;
    transition: 1s;
    box-shadow: 3px 3px 3px 0.5px #ff9900;
    border-radius: 5px;
}

    #f1:hover, #f2:hover, #f3:hover, #f4:hover {
        width: 1000px;
        height: 400px;
    }

#slogan {
    width: 70%;
    height: 150px;
}

div#title {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    text-align: center;
    color: black;
}
td#social {
    width: 30%;
    padding: 20px;
}

table #content tr {
    margin: 20px;
}

p.active img {
    margin: 10px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

