* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

/*-------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #fcf5f5;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #fc6612;
    }
/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}


/*//////////////////////////LOGIN/////////////////////////*/
.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f28d4e;
    background: -webkit-linear-gradient(-135deg, #e65235, orange);
    background: -o-linear-gradient(-135deg, #e65235, orange);
    background: -moz-linear-gradient(-135deg, #e65235, orange);
    background: linear-gradient(-135deg, #e65235, orange);
}

.wrap-login {
    width: 960px;
    background: #000000;
    border-radius: 20px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 75px 130px 60px 95px;
}

/*-----------------------------*/
.login-pic {
    width: 316px;
    margin-top: 90px;
}

    .login-pic img {
        max-width: 100%;
    }
/*-----------------------------*/
.login-form {
    width: 290px;
}

.login-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #fff;
    text-align: center;
    display: block;
    padding-bottom: 50px;
}

.input-login-form {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 30px;
    margin-bottom: 10px;
}

/*--------------Radio-------------------*/
.container {
    font-family: Poppins-Medium;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 15px;
    margin: 20px;
    color: aliceblue;
}

    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #fc6612;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/*------------------------------------------------------------------
[ Button ]*/


.login-form-btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    color: #120d0d;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #fc6612;
    transition: all 0.4s;
    border: none;
    margin: 20px 0;
}

    .login-form-btn:hover {
        opacity: 0.7;
        font-size: 16px;
    }
/*[ Responsive ]*/

@media (max-width: 992px) {
    .wrap-login {
        padding: 177px 90px 33px 85px;
    }

    .login-pic {
        width: 35%;
    }

    .login-form {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .wrap-login {
        padding: 100px 80px 33px 80px;
    }

    .login-pic {
        display: none;
    }

    .login-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-login {
        padding: 100px 15px 33px 15px;
    }
}
