
.avatar {
    height: 80px;
    width: 80px;
    float: left;
    border-radius: 100%;
    margin-right: 10px;
    border: 3px outset #ff9900;
}

#avatar {
    border-radius: 100%;
    border: 3px outset #ff9900;
}

.ava {
    margin-top: -100px;
}
.styleClass {
    color: white;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    margin-bottom: 20px;
}
    .styleClass:hover {
        background: linear-gradient(to right,#ff3300,#ff9900);
    }
.uploadpostarea {
    box-sizing: border-box;
    border-radius:5px;
}
.content-profile {
    background-color:#ff6600; 
    text-align: center; 
    margin-top: 3px;
    color:white;
    border-radius:3px;

}
.wallpaper {
    width: 100%;
    height: 400px;
    border-bottom: 3px outset #ff9900;
}


/*Create Modal at center of the screen*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    width: 60%;
    border-radius:10px;
    position:relative;
     z-index:1;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.ListAvatar {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    margin-right: -7px;
    position: relative;
}

.imgpost {
    height: 500px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.wallpost {
    border: solid 0.5px #ff6600;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 0.2px #ff9900;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    background-color: #ffffff;
}

.tagspan {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

.pintroduce {
    font-size: 12px;
    color: #151414;
}
.uploadpostarea {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}


