<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Danh mục thử thách</title>
    <!-- Khai báo external các kiểu -->
    <link rel="stylesheet" href="StyleControl.css" type="text/css" />

    <script src="js/sweetalert.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/DataFactory.js"></script>

    <script>
        var ChallengeList = []
        var UserList = GetStoredData("UserList")
        var CurrentUser = GetStoredData("currentUser")
        var app = angular.module("angularApp", [])
        var TagCategory = GetStoredData("tagCategory")

        app.controller("Controller", function ($scope, $http, $sce) {
            $http({
                method: "GET",
                url: "Data/challenge.json"
            }).then(function mySucces(respone) {
                $scope.trustAsHtml = $sce.trustAsHtml //Nhận tag html khi ng-repeat
                ChallengeList = respone.data
                ThisChallengeList = []

                for (i = 0; i < LengthOfObj(ChallengeList); i++) {
                    ChallengeList[i]["numday"] = CountDay(ChallengeList[i].createdate)
                    ChallengeList[i]["tagcolor"] = GetTagColor(ChallengeList[i].idtag)
                    ChallengeList[i]["tagname"] = GetTagName(ChallengeList[i].idtag)
                    ChallengeList[i]["numdone"] = ChallengeList[i].todaycomplete.length
                    ChallengeList[i]["todaydone"] = ListUserImg(ChallengeList[i].todaycomplete, UserList)
                    ChallengeList[i]["joinerIMG"] = ListUserImg(ChallengeList[i].joiner, UserList)
                    if (ChallengeList[i].joiner.includes(CurrentUser.iduser)) {
                        ChallengeList[i]["regisBTN"] = "IMG/system/regis1.png"
                    }
                    else {
                        ChallengeList[i]["regisBTN"] = "IMG/system/regis2.png"
                    }
                    
                }
                $scope.ChangeToComplete = function (idcl) {
                    if (document.getElementById(idcl).getAttribute("src") == "IMG/system/regis1.png") {
                        SetAttribute(idcl, "src", "IMG/system/regis2.png")
                    }
                    else {
                        SetAttribute(idcl, "src", "IMG/system/regis1.png")
                    }
                }
                for (j = 0; j < LengthOfObj(ChallengeList); j++) {
                    if (ChallengeList[j].idtag == TagCategory) {
                        ThisChallengeList.push(ChallengeList[j])
                    }
                }
                console.log(ThisChallengeList)
                $scope.ThisChallengeList = ThisChallengeList

                
            },
                $http({
                    method: "GET",
                    url: "Data/tag.json"
                }).then(function mySucces(respone) {
                    var tagList = respone.data
                    UpdateTitle(tagList)
                }, function myError(respone) {
                    $scope.dataError = respone.statusText
                }))
        })

        function UpdateTitle(tagListInfo) {
            document.getElementById("categoryTitle").innerHTML = FindObjectValue(tagListInfo, "name", "idtag", TagCategory)
            document.getElementById("categoryTitle").style.backgroundColor = GetTagColor(TagCategory)
        }
    </script>
</head>
<body ng-app="angularApp" ng-controller="Controller">

    <!----------------------------Navigation bar------------------------------>
    <a id="tabChallenge" name="tabChallenge" href="Challenge.html">Thử thách</a>
    <a id="tabCommunity" name="tabCommunity" href="Community.html">Cộng đồng</a>
    <input id="txtSearch" name="txtSearch" type="text" placeholder="Tìm kiếm..." />
    <img id="picAva" name="picAva" src="" height="50" width="50" />
    <b id="tabProfile" name="tabProfile" onclick="Go2Profile()" style="color: dodgerblue"></b>

    <!-------------------------------Content-------------------------->
    <div class="row">
        <div class="column right">
        </div>
        <div class="column middle">
            <span id="categoryTitle" class="categoryTitle"></span>
            <!----------------------------List of challenge-------------------------------->
            <div class="challenge-div" ng-repeat="cl in ThisChallengeList" id="{{cl.idchallenge}}">
                <div class="challenge-pic">
                    <img src="{{cl.wallpaper}}" style="width: 100%; height: 100px; border-radius: 15px 15px 0px 0px;" />
                    <div class="challenge-name" ng-click="OpenChallengeDetail(cl.idchallenge)">{{cl.name}}</div>
                </div>
                <table width="100%">
                    <tr>
                        <td width="70%">
                            <span style="margin-left: 18px">
                                <span class="tagspan" style="background-color: {{cl.tagcolor}}">{{cl.tagname}}</span>
                                <span>
                                    <img src="IMG/icon/viewer.png" height="17" width="17" />
                                    {{cl.views}}
                                </span>
                                <br />
                                <span>Ngày thứ {{cl.numday}}
                                </span>
                            </span>
                        </td>
                        <td width="30%" align="right">
                            <span style="color: green; font-size: 12px">Đã có {{cl.numdone}} người  hoàn thành</span><br />
                            <span ng-bind-html="trustAsHtml(cl.todaydone)"></span>
                            <br />
                            <img id="{{cl.name}}" src={{cl.regisBTN}} height="30" width="60" ng-click="ChangeToComplete(cl.name)" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="column left">
        </div>
    </div>

    <script>
        var CurrentUser = GetStoredData("currentUser")

        PrintToTag("tabProfile", CurrentUser.name)
        SetAttribute("picAva", "src", CurrentUser.avatar)

        function Go2Profile() {
            GoToProfile(GetStoredData("currentUser").iduser, GetStoredData("UserList"))
        }

        function OpenChallengeList() {
            window.open("ChallengeList.html", "_self")
        }

        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
