<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Challenge</title>

    <!-- Khai báo external các kiểu -->
    <link rel="stylesheet" href="CSS/StyleControl.css" type="text/css" />
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/DataFactory.js"></script>
    <link href="CSS/Container.css" type="text/css" rel="stylesheet" />
    <link href="CSS/NavigationBar.css" type="text/css" rel="stylesheet" />
    <link href="CSS/Footer.css" type="text/css" rel="stylesheet" />
    <link href="CSS/ContentHome.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="CSS/ScrollTop.css" type="text/css" rel="stylesheet" />
    <link href="CSS/Category.css" type="text/css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="CSS/Profile.css" />
    <link href="CSS/MyChallenge.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="CSS/css_contact.css" />
    <script src="js/sweetalert.js"></script>
    <script>
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <script>
        var ChallengeList = []
        var UserList = GetStoredData("UserList")
        var CurrentUser = GetStoredData("currentUser")
        var app = angular.module("angularApp", [])
        app.controller("Controller", function ($scope, $http, $sce) {
            $http({
                method: "GET",
                url: "Data/challenge.json"
            }).then(function mySucces(respone) {
                $scope.trustAsHtml = $sce.trustAsHtml //Nhận tag html khi ng-repeat
                //$scope.challenge = respone.data
                ChallengeList = respone.data
                ThisChallenge = []

                for (i = 0; i < Object.keys(ChallengeList).length; i++) {
                    ChallengeList[i]["numday"] = CountDay(ChallengeList[i].createdate)
                    ChallengeList[i]["tagcolor"] = GetTagColor(ChallengeList[i].idtag)
                    ChallengeList[i]["tagname"] = GetTagName(ChallengeList[i].idtag)
                    ChallengeList[i]["numdone"] = ChallengeList[i].todaycomplete.length
                    ChallengeList[i]["todaydone"] = ListUserImg(ChallengeList[i].todaycomplete, UserList)
                    ChallengeList[i]["joinerIMG"] = ListUserImg(ChallengeList[i].joiner, UserList)
                }

                for (qq = 0; qq < LengthOfObj(ChallengeList); qq++) {
                    if (ChallengeList[qq].joiner.includes(CurrentUser.iduser)) {
                        ThisChallenge.push(ChallengeList[qq])
                    }
                }
                $scope.challenge = ThisChallenge

                $scope.ChangeToComplete = function (idcl) {
                    if (document.getElementById(idcl).getAttribute("src") == "IMG/system/checkdone1.png") {
                        SetAttribute(idcl, "src", "IMG/system/checkdone2.png")
                    }
                    else {
                        SetAttribute(idcl, "src", "IMG/system/checkdone1.png")
                    }
                }
                $scope.OpenChallengeDetail = function (idchall) {
                    for (j = 0; j < Object.keys(ChallengeList).length; j++) {
                        console.log(ChallengeList[j])
                        if (ChallengeList[j].idchallenge == idchall) {
                            SaveToLocal("TargetChallenge", ChallengeList[j])
                        }
                    }
                    window.open("ChallengeDetail.html", "_self")
                }


            },
                $http({
                    method: "GET",
                    url: "Data/notify.json"
                }).then(function mySucces(respone) {
                    $scope.notify = respone.data
                    $scope.hideNotify = function (notifyid) {
                        document.getElementById(notifyid).style.display = "none";
                    }
                }, $http({
                    method: "GET",
                    url: "Data/medals.json"
                }).then(function mySucces(respone) {
                    $scope.medals = respone.data
                    SaveToLocal("ListMedals", respone.data.medalinfo)


                }, function myError(respone) {
                    $scope.dataError = respone.statusText
                }))
            )
        });

    </script>

</head>
<body ng-app="angularApp" ng-controller="Controller" style="background-image:url(IMG/img/background.png)">

    <button onclick="topFunction()" id="myBtn" title="Go to top">
        <img src="IMG/img/downtop.PNG" width="30px" />
    </button>

    <!--<a id="tabChallenge" name="tabChallenge" href="Challenge.html">Thử thách</a>
        <a id="tabCommunity" name="tabCommunity" href="Community.html">Cộng đồng</a>
        <input id="txtSearch" name="txtSearch" type="text" placeholder="Tìm kiếm..." />
        <img id="picAva" name="picAva" src="" height="50" width="50" />
        <b id="tabProfile" name="tabProfile" onclick="Go2Profile()" style="color: dodgerblue"></b>
    -->

    <div class="row">
        <div class="container">
            <div id="logo">
                <img src="IMG/img/logo.png" class="logo" />
            </div>

            <form action="/search/" class="search-form">
            <div class="input-group">
                <input class="search" id="search" type="search" name="q" placeholder="Tìm kiếm ..." autocomplete="off">
                <div class="input-group-append">
                    <button class="btnsearch" id="btnsearch" type="button" onclick="getValue()" keyup="">
                        <img src="IMG/img/search.png" width="20px" height="18px" />
                    </button>
                </div>
            </div>
        </form>
        <script>
            function getValue() {
                var term, myWindow;
                term = document.getElementById('search').value;
                myWindow = window.open("https://www.google.com/search?q=" + term, "_blank")
            }  
        </script>
            <!-- MENU LINKS -->
            <div class="navbar">
                <a href="HomePage.html" class="color-title">Trang Chủ</a>
                <div class="subnav">
                    <div class="subnavbtn" onclick="window.open('Challenge.html','_self')">Thử Thách&nbsp;<i class="fa fa-caret-down"></i></div>
                    <div class="subnav-content">

                        <a class="Category" href="#" onclick="GoToCategory('tagCategory','tg001')">
                            <img src="IMG/img/health.png" class="icon_2Ap-" alt="">
                            <p class="text_3zD4" style="color: rgb(0, 0, 0); padding-top: 3px;">
                                Sức khoẻ
                            </p>
                        </a>

                        <a class="Category" href="#" onclick="GoToCategory('tagCategory','tg002')">
                            <img src="IMG/img/language.png" class="icon_2Ap-" alt="">
                            <p class="text_3zD4" style="color: rgb(0, 0, 0); padding-top: 3px;">
                                Ngoại ngữ

                            </p>
                        </a>

                        <a class="Category" href="#" onclick="GoToCategory('tagCategory','tg003')">
                            <img src="IMG/img/eat.png" class="icon_2Ap-" alt="">
                            <p class="text_3zD4" style="color: rgb(0, 0, 0); padding-top: 3px;">
                                Ăn uống

                            </p>
                        </a>

                        <a class="Category" href="#" onclick="GoToCategory('tagCategory','tg004')">
                            <img src="IMG/img/study.png" class="icon_2Ap-" alt="">
                            <p class="text_3zD4" style="color: rgb(0, 0, 0); padding-top: 3px;">
                                Sách
                            </p>
                        </a>


                        <a class="Category" href="#" onclick="GoToCategory('tagCategory','tg005')">
                            <img src="IMG/img/nghethuat.png" class="icon_2Ap-" alt="">
                            <p class="text_3zD4" style="color: rgb(0, 0, 0); padding-top: 3px;">
                                Nghệ thuật
                            </p>
                        </a>

                        <a class="Category" href="#" onclick="GoToCategory('tagCategory','tg006')">
                            <img src="IMG/img/strong.png" class="icon_2Ap-" alt="">
                            <p class="text_3zD4" style="color: rgb(0, 0, 0); padding-top: 3px;">
                                Trải nghiệm
                            </p>
                        </a>

                        <a class="Category" href="#" onclick="GoToCategory('tagCategory','tg007')">
                            <img src="IMG/img/love.png" class="icon_2Ap-" alt="">
                            <p class="text_3zD4" style="color: rgb(0, 0, 0); padding-top: 3px;">
                                Tình yêu
                            </p>
                        </a>

                        <a class="Category" href="#" onclick="GoToCategory('tagCategory','tg008')">
                            <img src="IMG/img/family.png" class="icon_2Ap-" alt="">
                            <p class="text_3zD4" style="color: rgb(0, 0, 0); padding-top: 3px;">
                                Gia đình
                            </p>
                        </a>

                        <a class="Category" href="#" onclick="GoToCategory('tagCategory','tg009')">
                            <img src="IMG/img/banbe (2).png" class="icon_2Ap-" alt="">
                            <p class="text_3zD4" style="color: rgb(0, 0, 0); padding-top: 3px;">
                                Bạn bè
                            </p>
                        </a>


                        <a class="Category" href="#" onclick="GoToCategory('tagCategory','tg010')">
                            <img src="IMG/img/moitruong.png" class="icon_2Ap-" alt="">
                            <p class="text_3zD4" style="color: rgb(0, 0, 0); padding-top: 3px;">
                                Môi trường
                            </p>
                        </a>

                        <a class="Category" href="#" onclick="GoToCategory('tagCategory','tg011')">
                            <img src="IMG/img/congnghe.png" class="icon_2Ap-" alt="">
                            <p class="text_3zD4" style="color: rgb(0, 0, 0); padding-top: 3px;">
                                Công nghệ
                            </p>
                        </a>

                        <a class="Category" href="#" onclick="GoToCategory('tagCategory','tg012')">
                            <img src="IMG/img/thienvan (2).png" class="icon_2Ap-" alt="">
                            <p class="text_3zD4" style="color: rgb(0, 0, 0); padding-top: 3px;">
                                Thiên văn
                            </p>
                        </a>
                    </div>
                </div>
                <a href="Profile.html" class="color-title">Trang cá nhân</a>
                <a href="#" class="color-title">Diễn đàn</a>
                <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="btnContact color-title" >Liên hệ</a>

            </div>
        </div>
        <!--Select menu tab-->
        <div class="column right">
            <h2 style="font-family: Arial; color: grey; margin: 1px;">Thử thách của bạn</h2>
            <p>
                <input type="button" value="Tạo thử thách" class="styleClass" onclick="window.open('CreateChallenge.html','_self')" style="width:100px" />
            </p>
            <a href="http://communityuni.com/" target="_blank">
                <img src="IMG/system/adthanh.gif" width="100%" />
            </a>
        </div>

        <!-- Content of Page -->
        <div class="column middle">
            <!--Nội dung newsfeed-->
            <div class="challenge-div" ng-repeat="cl in challenge" id="{{cl.idchallenge}}">
                <div class="challenge-pic">
                    <img src="{{cl.wallpaper}}" style="width: 100%; height: 100px; border-radius: 15px 15px 0px 0px;" />
                    <div class="challenge-name" ng-click="OpenChallengeDetail(cl.idchallenge)">{{cl.name}}</div>
                </div>
                <table width="100%">
                    <tr>
                        <td width="70%">
                            <span style="margin-left: 18px">
                                <span class="tagspan" style="background-color: {{cl.tagcolor}}">
                                    {{cl.tagname}}
                                </span>
                                <span>
                                    <img src="IMG/icon/viewer.png" height="17" width="17" />
                                    {{cl.views}}
                                </span>
                                <br />
                                <span style="margin:20px; margin-top:30px">
                                    Ngày thứ {{cl.numday}}
                                </span>
                            </span>
                        </td>
                        <td width="30%" align="right">
                            <span style="color: green; font-size: 12px">Đã có {{cl.numdone}} người  hoàn thành</span><br />
                            <span ng-bind-html="trustAsHtml(cl.todaydone)"></span>
                            <br />
                            <img id="{{cl.name}}" src="IMG/system/checkdone1.png" height="30" width="60" ng-click="ChangeToComplete(cl.name)" />
                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <!-- Show notifications -->
        <div class="column left">
            <div style="background-color: #ff6600; padding: 5px;border-radius:10px">
                <div style="text-align:center;color:#fff">Thông báo</div>
                <div ng-repeat="n in notify" class="notifybox" id="{{n.notifyid}}">
                    <table ng-click="hideNotify(n.notifyid)">
                        <tr>
                            <td rowspan="2">
                                <img src="{{n.icon}}" width="40" height="40" />
                            </td>
                            <td><span style="font-size: 12px; color: dimgray" ng-bind-html="trustAsHtml(n.content)"></span></td>
                            <td rowspan="2">
                                <img src="{{n.image}}" width="40" height="40" class="imagenotify" />
                            </td>
                        </tr>
                        <tr>
                            <td><span style="font-size: 10px; color: dimgray">{{n.time}}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="id01" class="background">
        <div class="khung" align="center">
            <img src="IMG/img/khung.png" width="995" height="525" usemap="#contact">
            <map name="contact" id="usemap">
                <area shape="rect" coords="950,10,983,40" onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal" />
                <area shape="rect" coords="110,150,220,180" href="https://www.instagram.com" target="_blank" title="Instagram">
                <area shape="rect" coords="110,220,250,250" href="https://www.facebook.com" target="_blank" title="Facebook">
                <area shape="rect" coords="110,295,250,330" href="tel:+84369699999" alt="Call">
                <area shape="rect" coords="110,370,345,400" href="https://mail.google.com/mail/u/0/" target="_blank" title="Gmail">
                <area shape="rect" coords="110,440,540,480" href="https://www.google.com/maps/place/TTTM+S%C3%A0i+G%C3%B2n+Centre/@10.7733153,106.6987681,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f4743648f3d:0x16ce95918cb14834!8m2!3d10.7733153!4d106.7009568?hl=vi-VN" target="_blank" title="Map">
            </map>
        </div>
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script>
        var CurrentUser = GetStoredData("currentUser")

        PrintToTag("tabProfile", CurrentUser.name)
        SetAttribute("picAva", "src", CurrentUser.avatar)

        function Go2Profile() {
            GoToProfile(GetStoredData("currentUser").iduser, GetStoredData("UserList"))
        }

        function OpenChallengeList() {
            window.open("ChallengeList.html", "_self")
        }
    </script>
</body>
</html>
