.challenge-div {
    border-radius: 15px;
    border: 1px solid #808080;
    box-shadow: 3px 3px 3px 0.2px #808080;
    margin-bottom: 10px;
}

.challenge-pic {
    border-radius: 15px;
    position: relative;
    text-align: center;
    color: white;
}

.challenge-name {
    font-weight: 700;
    font-family: Arial;
    font-size: 23px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-shadow: 2px 2px 4px #000000;
}

.menutab {
    background-color: lightgray;
    padding: 5px;
    margin-bottom: 3px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
    height: 100vh;
}

.left {
    width: 25%;
    height: 100vh;
}

.right {
    width: 20%;
    height: 100vh;
}

.middle {
    width: 55%;
    height: 100vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.uploadpostarea {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

.wallpost {
    border: solid 0.5px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 0.2px #808080;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
}
.tagspan {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

.pintroduce{
    font-size:10px;
    color:gray;
    font-family:Arial;
}

.avatar {
    height:80px;
    width:80px;
    float:left;
}

/*Create Modal at center of the screen*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
.ListAvatar {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    margin-right: -7px;
    position: relative;
}